*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #32495b;
}
/* utility class */
.container{
    width: 80%;
    margin: auto;
}
.clearfix{
    content: "";
    display: table;
    clear: both;
}
.azzurro_chiaro{
    background-color: #f4f9fd;
}
.rosa{
    background-color: #fff2ee;
}
.azzurro{
    background-color: #afebe4;
}
.bottone{
    border-radius: 5px;
    padding: 15px;
    margin: 0 15px;
    text-decoration: none;
}
.vuoto{
    border: 1px solid #fe775a;
    color: #fe775a;
    background-color: white;
}
.vuoto:hover{
    color: white;
    background-color: #fe775a;
}
.pieno{
    border: 1px solid #fe775a;
    background-color: #fe775a;
    color: white;
}
.pieno_azzurro_chiaro:hover{
    color: #fe775a;
    background-color: #f4f9fd;
}
.pieno_rosa:hover{
    color: #fe775a;
    background-color: #fff2ee;
}
.pieno_bianco:hover{
    color: #fe775a;
    background-color: white;
}
.pieno2{
    padding: 10px 5px;
    border: 1px solid #c9d4e0;
    background-color: #c9d4e0;
    color: #32495b;
    font-weight: 600;
    font-size: 15px;
    margin-left: 0;
}
.pieno2:hover{
    background-color: #32495b;
    color: #c9d4e0;
}
.float_left{
    float: left;
}
.cerchio{
    width: 20px;
    height: 20px;
    padding: 3px;
    margin-right: 20px;
    border-radius: 50%;
    line-height: 15px;
    background-color: #fe775a;
    color: white;
    display: inline-block;
}
.cerchio_s{
    margin-right: 40px;
}
.line-height_25{
    line-height: 25px;
}
.text-align_center{
    text-align: center;
}
/* header */ /* primo nav */
header nav:first-child{
    width: 100%;
    height: 100px;
    border-bottom: 1px solid #32495b;
}
.menu_sx, .menu_dx{
    width: 50%;
}
.menu_sx, .menu_dx{
    line-height: 100px;
}
.menu_sx a{
    text-decoration: none;
    padding-bottom: 20px;
}
#trat{
    position: relative;
    margin-right: 10px;
    padding-right: 10px;
}
#trat img{
    width: 10px;
    margin-left: 2px;
}
#trattino{
    content: "";
    display: inline-block;
    height: 25px;
    width: 1px;
    background-color: #32495b;
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
}
.menu_dx{
    text-align: right;
}
.menu_dx > a > img{
    width: 20px;
    margin-right: 15px;
}
/* secondo nav */
header nav:nth-child(2){
    width: 100%;
    height: 100px;
}
.menu_sx2, .menu_dx2{
    width: 50%;
    line-height: 100px;
}
.menu_sx2 img{
    margin-top: 35px;
}
.menu_dx2{
    text-align: right;
}
.menu_dx2 a{
    margin-right: 10px;
    text-decoration: none;
    padding-bottom: 20px;
}
.menu_dx2 a img{
    width: 10px;
    margin-left: 10px;
}
/* parte centrale header */
.main_header {
    height: 500px;
    background-image: url("../img/jumbotron.png");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-size: 1175px;
}
.scritte_header{
    margin-top: 60px;
    width: 50%;
}
.scritte_header :first-child{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
}
.scritte_header :nth-child(2){
    margin-bottom: 40px;
}
.scritte_header :nth-child(4){
    margin-top: 40px;
}
.scritte_header a{
    margin-left: 0;
}
/* barra azzurra */
.barra_azzurra{
    width: 100%;
    height: 100px;
    border-top: 3px solid #33475b;
    border-bottom: 3px solid #33475b;
}
/* main */ /* sezione 1 */ /* sezione con il cubo */
.sez_cubo{
    position: relative;
}
.sez_cubo > img{
    width: 250px;
    position: absolute;
    left: 50%;
    top: 50px;
    transform: translateX(-50%);
}
.sez_cubo :nth-child(2){
    padding-top: 250px;
    margin-bottom: 40px;
    font-size: 28px;
    font-weight: 600;
}
.sez_cubo :nth-child(3){
    margin-bottom: 50px;
}
/* free hubspot crm */
.sezione_1 > div:nth-child(2) > div{
    border-radius: 0.5rem;
    width: 100%;
    background-color: white;
    padding: 50px 100px;
}
.sezione_1 > div:nth-child(2) > div > div:first-child{
    width: 30%;
}
.sezione_1 > div:nth-child(2) > div > div:first-child > div > img{
    width: 60%;
    margin-bottom: 40px;
}
.sezione_1 > div:nth-child(2) > div > div:nth-child(2){
    width: 70%;
    height: 100%;
}
.sezione_1 > div:nth-child(2) > div > div:nth-child(2) p:first-child{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 30px;
}
.sezione_1 > div:nth-child(2) > div > div:nth-child(2) p:nth-child(2){
    margin-bottom: 25px;
}
.sezione_1 > div:nth-child(2) > div > div:nth-child(2) p:nth-child(3){
    margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: 600;
}
.hr{
    width: 400px;
    height: 1px;
    background-color: black;
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
/* colonne */
.colonna3{
    width: calc(100%/3);
    padding-top: 40px;
    padding-bottom: 40px;
}
.card1, .card2, .card3{
    border-radius: 0.5rem;
    background-color: white;
    width: calc(100%-30px);
    padding: 15px 30px;
    padding-bottom: 35px;
}
.card1{
    margin-right: 30px;
}
.card2{
    margin-left: 15px;
    margin-right: 15px;
}
.card3{
    margin-left: 30px;
}
.int_col_1{
    height: 60%;
}
.int_col_1 img{
    height: 125px;
    margin-bottom: 30px;
}
.int_col_1 :nth-child(2){
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 30px;
}
.int_col_1 :nth-child(3){
    margin-bottom: 60px;
}
.int_col_2{
    width: 100%;
    height: 40%;
    border-top: 1px solid black;
}
.int_col_2 p:first-child{
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 30px;
}
.colonna3 > div > div:nth-child(2) > p:nth-child(2){
    margin-bottom: 60px;
}
.colonna3 > div > div:nth-child(2) > p:nth-child(2) span.cerchio_s{
    text-align: left;
    display: block;
    margin-bottom: 5px;
}
/* sezione 2 */
#sezione_blu{
    background: linear-gradient(90deg, #00A8B9 0%, #00BAA8 100%);
    padding-top: 40px;
    padding-bottom: 70px;
}
#sezione_blu > div > p{
    color: white;
}
#sezione_blu > div > p:first-child{
    font-size: 28px;
    font-weight: 600;
    width: 80%;
    margin: auto;
    margin-bottom: 35px;
}
#sezione_blu > div >p:nth-child(2){
    padding-bottom: 40px;
}
#sezione_blu > div > div{
    width: 100%;
}
#sezione_blu > div > div > div{
    width: 25%;
    padding-bottom: 30px;
    padding-top: 30px;
}
#sezione_blu > div > div > div > p{
    color: white;
    padding-top: 20px;
}
.scritta_grande{
    font-size: 35px;
    font-weight: 600;
}
.quad_1{
    border-left: 1px solid white;
}
.quad_2, .quad_1{
    border-right: 1px solid white;
}
.quad_3{
    border-top: 1px solid white;
}
/* sezione 3 */
.sez_bianca_1{
    width: 100%;
    padding-top: 20x;
}
.sez_bianca_1 > div:first-child{
    width: 30%;
    padding: 45px;
    padding-left: 60px;
}
.sez_bianca_1 > div:nth-child(2){
    width: 70%;
    padding: 45px;
}
.sez_bianca_1 > div:nth-child(2) > div{
    width: 25%;
    height: 50px;
    position: relative;
}
.sez_bianca_1 > div:nth-child(2) > div > img{
    width: 110px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.sez_bianca_2{
    padding-bottom: 25px;
}
.sez_bianca_2 > div:first-child{
    width: 46%;
}
.sez_bianca_2 > div > p{
    margin: 50px 0;
}
.sez_bianca_2 > div > p:first-child{
    font-size: 30px;
    font-weight: 600;
}
.btn{
    margin-left: 0;
}
.sez_bianca_2 > div:nth-child(2){
    width: 54%;
    position: relative;
}
.sez_bianca_2 > div:nth-child(2) > img{
    width: 60%;
    position: absolute;
    right: 0;
}
/* footer */
footer{
    background-color: #32495b;
    padding: 35px 0;
}
/* sezione 1 */
footer div, footer ul, footer ul li, footer span{
    color: white;
}
footer > div > div:first-child{
    width: 100%;
    padding-bottom: 70px;
}
footer > div > div:first-child > div{
    width: 25%;
}
footer ul{
    line-height: 30px;
    list-style: none;
    font-size: 15px;
}
footer ul li a{
    color: #c9d4e0;
    text-decoration: none;
}
footer ul span{
    margin-bottom: 40px;
    color: white;
    font-weight: 700;
}
footer ul :nth-child(2){
    margin-top: 30px;
}
footer ul :nth-child(6){
    margin-bottom: 20px;
}
footer > div > div > div:nth-child(4) > ul > div{
    padding-top: 20px;
}
footer > div > div > div:nth-child(4) > ul > div > a > i{
    color: #c9d4e0;
    padding-right: 25px;
}
footer > div > div > div:nth-child(4) > ul > div > a > i:hover{
    color: #71e6ee;
}
/* sezione 2 */
footer > div > div:nth-child(2) > span{
    padding-right: 20px;
}
footer > div > div:nth-child(2) > span > a{
    font-size: 15px;
    color: #c9d4e0;
    text-decoration: none;
}
/* sezione 3 */
footer > div > div:nth-child(3){
    width: 100%;
    padding-top: 50px;
    padding-bottom: 20px;
    margin-top: 30px;
    border-top: 1px solid #c9d4e0;
    color: #c9d4e0;
}
footer > div > div:nth-child(3) > div{
    width: 50%;
}
footer > div > div:nth-child(3) > div > div > img{
    filter: brightness(0.75);
    width: 120px;
}
footer > div > div:nth-child(3) > div:nth-child(2){
    text-align: right;
}
footer > div > div:nth-child(3) > div:nth-child(2) span{
    margin-left: 30px;
}
footer > div > div:nth-child(3) > div:nth-child(2) span a{
    color: #c9d4e0;
    text-decoration: none;
}
/* chat */
.chat{
    position: fixed;
    right: 10px;
    bottom: 10px;
    border-radius: 50%;
    background-color: #32495b;
    width: 50px;
    height: 50px;
    z-index: 2;
}
.chat > img{
    width: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.text_chat{
    color: #32495b;
    width: 280px;
    padding: 30px 20px;
    padding-bottom: 20px;
    border-radius: 0.4rem;
    position: fixed;
    right: 10px;
    bottom: 70px;
    background-color: white;
    border: 1px solid #32495b;
    line-height: 25px;
    z-index: 2;
    display: none;
}
.text_chat > img{
    width: 50px;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
}
.text_chat > span{
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 20px;
}
.chat:hover + .text_chat{
    display: block;
}
/* dropdown menu */ /* english */
.dropdown, .dropdown2, .dropdown3, .dropdown4, .dropdown5{
    position: relative;
}
.dropdown-content{
    display: none;
    position: absolute;
    top: 30px;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    line-height: 20px;
    font-weight: 600;
}
.dropdown-content p{
    color: #32495b;
    padding: 12px 16px;
    display: block;
}
.dropdown-content p:hover, .dropdown-content2 p:hover, .dropdown-content3 p:hover, .dropdown-content4 p:hover, .dropdown-content5 p:hover{
      background-color: #f1f1f1
}
.dropdown:hover .dropdown-content, .dropdown2:hover .dropdown-content2, .dropdown3:hover .dropdown-content3, .dropdown4:hover .dropdown-content4, .dropdown5:hover .dropdown-content5{
    display: block;
}
/* about */
.dropdown-content2, .dropdown-content3, .dropdown-content4, .dropdown-content5{
    display: none;
    position: absolute;
    top: 30px;
    right: 0;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    line-height: 20px;
    width: 600px;
    padding: 20px;
}
.dropdown-content2 p{
    color: #32495b;
    padding: 12px 16px;
    text-align: left;
}
.dropdown-content2 p:first-child, .dropdown-content3 p:first-child, .dropdown-content4 p:first-child, .dropdown-content5 p:first-child{
    font-weight: 600;
}
.dropdown-content2 > div{
    width: calc(100%/3);
}
/* partners */
.dropdown-content3 p{
    color: #32495b;
    padding: 12px 16px;
    text-align: left;
}
.dropdown-content3 > div{
    width: 50%;
}
/* resources */
.dropdown-content4{
    width: 800px;
}
.dropdown-content4 p{
    color: #32495b;
    padding: 12px 16px;
    text-align: left;
}
.dropdown-content4 > div{
    width: calc(100%/3);
    height: 150px;
}
.mtb{
    border-top: 1px solid grey;
}
/* software */
.dropdown-content5 p{
    color: #32495b;
    padding: 12px 16px;
    text-align: left;
}
.bor_top_s{
    border-top: 1px solid #32495b;
}
.fulmine div:first-child, .cerchicon div:first-child, .stella div:first-child, .cuore div:first-child, .frecciagiu div:first-child{
    width: 10%;
}
.fulmine > div > img, .cerchicon > div > img, .stella > div > img, .cuore > div > img, .frecciagiu > div > img{
    width: 100%;
    padding-top: 20px;
}
.fulmine div:nth-child(2), .cerchicon div:nth-child(2), .stella div:nth-child(2), .cuore div:nth-child(2), .frecciagiu div:nth-child(2){
    width: 90%;
    padding-left: 20px;
}
.btn_blu{
    color: white;
    background-color: #00bda5;
    border-radius: 0.5rem;
    padding: 8px 15px;
}
/* frecce sui dropdown */
.dropdown-content, .dropdown-content2, .dropdown-content3, .dropdown-content4, .dropdown-content5{
    border: 1px solid black;
}
.dropdown-content:before, .dropdown-content2:before, .dropdown-content3:before, .dropdown-content4:before, .dropdown-content5:before {
    content: "";
    position: absolute;
    border-color: rgba(194, 225, 245, 0);
    border: solid transparent;
    border-bottom-color: white;
    border-width: 11px;
    margin-left: -10px;
    top: -21px;
    right: 35px;
    z-index: 1;
} 
.dropdown-content:after, .dropdown-content2:after, .dropdown-content3:after, .dropdown-content4:after, .dropdown-content5:after {
    content: "";
    position: absolute;
    right: 36px;
    top: -21px;
    width: 0;
    height: 0;
    border: solid transparent;
    border-width: 10px;
    border-bottom-color: black;
    z-index: 0;
}
  


  