*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

/* utility class */
.container{
    width: 80%;
    margin: auto;
}
.clearfix{
    content: "";
    display: table;
    clear: both;
}